@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
html[data-useragent*="Mac OS X"] {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

a,
.menu-item-name {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

a:hover,
.menu-item-name:hover {
  text-decoration: none;
  color: #7f7f7f;
}

::-webkit-scrollbar {
  width: 7px;
  /* for vertical scrollbars */
  height: 12px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #848487;
  border-radius: 8px;
}

.button__detail {
  width: 264px;
  height: 50px;
  border-radius: 8px;
  background-color: #3b4eae;
  font-size: 16px;
  letter-spacing: 0.3px;
  font-weight: 600;
  border-color: #3850c5;
}

.button__detail:hover {
  color: #fff;
  background-color: #3850c5;
  border-color: #3850c5;
}

.dark-bg {
  background-color: rgba(59, 78, 174, 0.11);
}

#header {
  width: 100%;
}

#header .navbar li.nav-item:not(:last-child) a.nav-link {
  padding-right: 30px;
}

#header .navbar .contact-us {
  background-color: #3b4eae;
  font-weight: 600;
}

#header .navbar .btn-primary:not(:disabled):not(.disabled):active,
#header .navbar button.btn.contact-us.btn-primary {
  border-color: #3b4eae;
}

#header .navbar .btn-primary:focus,
#header .navbar .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(59, 78, 174, 0.64);
          box-shadow: 0 0 0 0.2rem rgba(59, 78, 174, 0.64);
}

#header ul.navbar-nav.ml-auto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  #header ul.navbar-nav.ml-auto {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

#header ul.navbar-nav.ml-auto li img.scale.img-fluid {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

#header .sub-menu {
  position: absolute;
  top: 74px;
  left: 0;
  height: auto;
  z-index: 2;
  border-top: 2px solid #979797;
  background-color: #fff;
}

#header .sub-menu .sub-menu__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 575px) {
  #header .sub-menu .sub-menu__column {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

#header .sub-menu .sub-menu__column:not(:first-child) {
  padding-right: 30px;
}

#header .sub-menu .sub-menu__name,
#header .sub-menu a {
  font-size: 16px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
}

#header .sub-menu .sub-menu__description {
  color: #7d7d7d;
}

#header .modal-backdrop.fade.show {
  z-index: 1;
  top: 74px;
}

#main_wrap .home .header-card,
#main_wrap .crm .header-card {
  background-image: url("../assets/img/home/home-bg.png");
  height: calc(100vh - 75px);
  min-height: 480px;
  background-position: initial;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  border-radius: 0;
  border: 0;
  background-attachment: inherit;
}

#main_wrap .home .header-card .card-img-overlay,
#main_wrap .crm .header-card .card-img-overlay {
  padding-left: 15px;
}

@media (max-width: 767px) {
  #main_wrap .home .header-card .card-img-overlay,
  #main_wrap .crm .header-card .card-img-overlay {
    padding-left: 0;
  }
}

#main_wrap .home .header-card .card-img-overlay h1.card-title,
#main_wrap .crm .header-card .card-img-overlay h1.card-title {
  padding-top: 180px;
  font-weight: bold;
  font-size: 3.2vmax;
}

@media (max-width: 1366px) {
  #main_wrap .home .header-card .card-img-overlay h1.card-title,
  #main_wrap .crm .header-card .card-img-overlay h1.card-title {
    padding-top: 80px;
    font-size: 26px;
  }
}

#main_wrap .home .header-card .card-img-overlay p.card-text,
#main_wrap .crm .header-card .card-img-overlay p.card-text {
  letter-spacing: 0.4px;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
}

@media (max-width: 767px) {
  #main_wrap .home .header-card .card-img-overlay p.card-text,
  #main_wrap .crm .header-card .card-img-overlay p.card-text {
    font-size: 17px;
    padding-left: 7px;
    padding-right: 7px;
  }
}

#main_wrap .home .header-card .card-img-overlay .btn-outline-secondary,
#main_wrap .crm .header-card .card-img-overlay .btn-outline-secondary {
  color: #ffffff;
  border-color: #ffffff;
  width: 264px;
  height: 50px;
}

#main_wrap .home .product-descr,
#main_wrap .crm .product-descr {
  margin-top: 80px;
  padding: 0 20px;
}

#main_wrap .home .product-descr .product-descr__short-line,
#main_wrap .crm .product-descr .product-descr__short-line {
  width: 40px;
  height: 6px;
  border-radius: 1px;
  background-color: #3b4eae;
}

#main_wrap .home .product-descr .product-descr__paragraph,
#main_wrap .crm .product-descr .product-descr__paragraph {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #1a1c26;
}

@media (max-width: 767px) {
  #main_wrap .home .product-descr .product-descr__paragraph,
  #main_wrap .crm .product-descr .product-descr__paragraph {
    font-size: 25px;
  }
}

#main_wrap .home .product-descr .product-descr__description,
#main_wrap .crm .product-descr .product-descr__description {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  color: #7d7d7d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 320px) {
  #main_wrap .home .product-descr .product-descr__description,
  #main_wrap .crm .product-descr .product-descr__description {
    font-size: 14px;
  }
}

#main_wrap .home .product-block__item,
#main_wrap .crm .product-block__item {
  padding-top: 70px;
}

#main_wrap .home .product-block__item img.card-img,
#main_wrap .crm .product-block__item img.card-img {
  max-width: 500px;
}

@media (max-width: 767px) {
  #main_wrap .home .product-block__item img.card-img,
  #main_wrap .crm .product-block__item img.card-img {
    max-width: 250px;
  }
}

#main_wrap .home .product-block__item img.card-img.client-img,
#main_wrap .crm .product-block__item img.card-img.client-img {
  max-width: 400px;
}

@media (max-width: 767px) {
  #main_wrap .home .product-block__item img.card-img.client-img,
  #main_wrap .crm .product-block__item img.card-img.client-img {
    max-width: 250px;
  }
}

#main_wrap .home .product-block__item li,
#main_wrap .crm .product-block__item li {
  list-style-image: url("../assets/img/home/round.png");
  /* Замена исходных маркеров */
  padding-left: 10px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.3px;
  color: #7d7d7d;
  padding-bottom: 20px;
}

#main_wrap .home .product-block__item .button__detail,
#main_wrap .crm .product-block__item .button__detail {
  margin-left: 24px;
}

@media (max-width: 767px) {
  #main_wrap .home .product-block__item .button__detail,
  #main_wrap .crm .product-block__item .button__detail {
    margin-left: 0px;
  }
}

#main_wrap .home .product-block__item .product-block__bottom-line,
#main_wrap .crm .product-block__item .product-block__bottom-line {
  width: 100%;
  height: 1px;
  border: solid 1px #3b4eae;
  background-color: #3b4eae;
  opacity: 0.34;
  margin-top: 60px;
}

@media (max-width: 767px) {
  #main_wrap .home .product-block__item .product-block__bottom-line,
  #main_wrap .crm .product-block__item .product-block__bottom-line {
    margin-top: 0px;
  }
}

#main_wrap .home .product-block__item .card-img-left .card-body,
#main_wrap .crm .product-block__item .card-img-left .card-body {
  padding-right: 0;
}

@media (min-width: 767px) {
  #main_wrap .home .product-block__item .card-img-left .card-body .card-body,
  #main_wrap .crm .product-block__item .card-img-left .card-body .card-body {
    padding-right: 20px;
  }
}

@media (min-width: 767px) {
  #main_wrap .home .product-block__item .card-img-right .card-body,
  #main_wrap .crm .product-block__item .card-img-right .card-body {
    padding-left: 0;
  }
  #main_wrap .home .product-block__item .card-img-right h4.card-title,
  #main_wrap .crm .product-block__item .card-img-right h4.card-title {
    padding-left: 25px;
  }
  #main_wrap .home .product-block__item .card-img-right ul,
  #main_wrap .crm .product-block__item .card-img-right ul {
    padding-left: 17px;
  }
  #main_wrap .home .product-block__item .card-img-right .button__detail,
  #main_wrap .crm .product-block__item .card-img-right .button__detail {
    margin-left: 0;
  }
}

#main_wrap .home .card-img-left h4.card-title,
#main_wrap .home .card-img-right h4.card-title,
#main_wrap .crm .card-img-left h4.card-title,
#main_wrap .crm .card-img-right h4.card-title {
  color: #1a1c26;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-align: left;
  color: #1a1c26;
  padding-left: 48px;
  padding-bottom: 20px;
}

#main_wrap .home .icon-block,
#main_wrap .crm .icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#main_wrap .home .icon-block .icon-block__item,
#main_wrap .crm .icon-block .icon-block__item {
  text-align: center;
  text-align: -webkit-center;
}

#main_wrap .home .icon-block .icon-block__item .card,
#main_wrap .crm .icon-block .icon-block__item .card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 0;
}

#main_wrap .home .icon-block .icon-block__item img,
#main_wrap .crm .icon-block .icon-block__item img {
  max-width: 80px;
}

#main_wrap .home .icon-block h4,
#main_wrap .crm .icon-block h4 {
  font-size: 18px;
  font-weight: 600;
}

#main_wrap .home .review,
#main_wrap .crm .review {
  margin-bottom: 40px;
}

#main_wrap .home .contact-us-block,
#main_wrap .crm .contact-us-block {
  min-height: 400px;
}

#main_wrap .home .contact-us-block .contact-us-block__logo,
#main_wrap .crm .contact-us-block .contact-us-block__logo {
  position: absolute;
  z-index: 2;
  right: 20px;
}

@media (max-width: 460px) {
  #main_wrap .home .contact-us-block .contact-us-block__logo,
  #main_wrap .crm .contact-us-block .contact-us-block__logo {
    right: 0;
    top: 50%;
    left: 52%;
    -webkit-transform: translate(-52%, -50%);
            transform: translate(-52%, -50%);
    max-width: 340px;
  }
}

@media (max-width: 320px) {
  #main_wrap .home .contact-us-block .contact-us-block__logo,
  #main_wrap .crm .contact-us-block .contact-us-block__logo {
    max-width: 300px;
  }
}

#main_wrap .home .contact-us-block .card,
#main_wrap .crm .contact-us-block .card {
  border: 0;
}

#main_wrap .home .contact-us-block .card-body,
#main_wrap .crm .contact-us-block .card-body {
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3b4eae;
}

#main_wrap .home .contact-us-block .card-body h1,
#main_wrap .crm .contact-us-block .card-body h1 {
  font-weight: bold;
  font-size: 3.2vmax;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1366px) {
  #main_wrap .home .contact-us-block .card-body h1,
  #main_wrap .crm .contact-us-block .card-body h1 {
    font-size: 26px;
  }
}

#main_wrap .home .contact-us-block .card-body .card-text,
#main_wrap .crm .contact-us-block .card-body .card-text {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}

#main_wrap .home .contact-us-block .card-body button,
#main_wrap .crm .contact-us-block .card-body button {
  width: 264px;
  height: 50px;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

#main_wrap .crm .header-card {
  background-image: url("../assets/img/crm/bg-crm-big.png");
}

@media (max-width: 1440px) {
  #main_wrap .crm .header-card {
    background-image: url("../assets/img/crm/bg-crm-small.png");
  }
}

#main_wrap .crm .icon-block__item {
  -webkit-box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.12);
  width: 45%;
}

@media (max-width: 767px) {
  #main_wrap .crm .icon-block__item {
    width: 100%;
  }
}

#main_wrap .crm .icon-block .card-body {
  padding-left: 0;
  padding-right: 0;
}

#main_wrap .crm .icon-block .card-body hr {
  background: #8a96d6;
  opacity: 0.4;
}

#main_wrap .crm .icon-block .card-body .card-text {
  color: #7d7d7d;
}

#main_wrap .crm .icon-block .card-body h4 {
  padding-left: 0;
  text-align: center;
}

#main_wrap .crm .carousel-item {
  padding-left: 0;
}

#main_wrap .crm a.carousel-control-prev,
#main_wrap .crm a.carousel-control-next {
  height: 40px;
  width: 40px;
  top: unset;
  z-index: 10;
}

#main_wrap .crm .carousel-caption hr {
  opacity: 0.25;
  background-color: #3b4eae;
}

@media (max-width: 767px) {
  #main_wrap .crm .carousel-caption .icon-block.container.py-5 {
    padding-top: 0 !important;
  }
}

@media (max-width: 767px) {
  #main_wrap .crm .carousel-caption .icon-block.container.py-5 .icon-block__item.pt-4:not(:last-child) {
    margin-right: 0;
    min-height: 360px;
    margin-bottom: 15px;
  }
}

#main_wrap .crm .carousel-caption .icon-block__item.pt-4:not(:last-child) {
  margin-right: 40px;
}

#main_wrap .crm .carousel-caption .icon-block.container.py-5 {
  padding-left: 0;
}

#main_wrap .crm .carousel.slide {
  padding: 0;
}

#main_wrap .crm .slider .carousel-inner {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#main_wrap .crm .carousel-indicators {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  height: 40px;
}

#footer {
  min-height: 300px;
}

@media (max-width: 767px) {
  #footer {
    text-align: center;
  }
}

@media (max-width: 767px) {
  #footer .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#footer .logo-footer {
  margin-top: 49px;
  margin-bottom: 30px;
}

#footer ul {
  padding-left: 0;
}

#footer ul li {
  list-style: none;
}

#footer ul li:first-child {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

#footer ul li a {
  color: #1a1c26;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 1.9;
}

#footer ul li a:hover {
  text-shadow: 0px 0px 0px black;
}

#footer .input-group.mb-3 {
  max-width: 415px;
}

#footer button.btn.btn-success.btn-sm {
  background-color: #3b4eae;
  border-color: #3b4eae;
}

#footer .btn-success:focus,
#footer .btn-success.focus {
  -webkit-box-shadow: 0 0 0 0.2rem #7587e0;
          box-shadow: 0 0 0 0.2rem #7587e0;
}

#footer .footer-info__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  #footer .footer-info__right-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#footer .footer-info__right-block span {
  font-size: 14px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  #footer .footer-info__left-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#footer .tel-number {
  font-weight: 600;
}

@media (max-width: 767px) {
  #footer .tel-number {
    margin-bottom: 10px;
  }
}

#footer .footer-line {
  width: 100%;
  height: 1px;
  opacity: 0.41;
  background-color: #1a1c26;
  border: 0;
  margin: 15px 0;
}

#footer .bottom-info {
  font-size: 10px;
  margin: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #e3e3e3;
}

.slider .carousel-indicators li.active {
  background-color: #3b4eae;
}

.slider div#carousel1 {
  padding: 70px 155px;
  background-color: #fff;
}

@media (max-width: 1024px) {
  .slider div#carousel1 {
    padding: 46px 90px;
  }
}

@media (max-width: 767px) {
  .slider div#carousel1 {
    padding: 46px 14px;
  }
}

.slider img {
  max-width: 90px;
  height: 90px;
}

.slider .carousel-item.active,
.slider .carousel-item-next,
.slider .carousel-item-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 130px;
}

@media (max-width: 1023px) {
  .slider .carousel-item.active,
  .slider .carousel-item-next,
  .slider .carousel-item-prev {
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slider .slider-description {
  position: absolute;
  top: 115px;
  left: 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7d7d7d;
  padding-left: 20px;
  padding-right: 20px;
}

.slider .slider-description img {
  margin-top: -7px;
}

@media (max-width: 1023px) {
  .slider .slider-description img {
    display: none;
  }
}

.slider .slider-description span {
  padding-left: 40px;
}

@media (max-width: 1024px) {
  .slider .slider-description span {
    max-height: 190px;
    overflow: auto;
    padding-bottom: 15px;
  }
}

@media (max-width: 1023px) {
  .slider .slider-description span {
    padding-left: 0;
  }
}

.slider .slider-description span::-webkit-scrollbar {
  display: none;
}

.slider .carousel-caption {
  position: unset;
  text-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  text-shadow: none;
}

.slider .carousel-caption h3 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.slider .carousel-caption p {
  color: #656565;
  font-size: 14px;
  margin-bottom: 0;
}

.slider .carousel-inner {
  height: 100%;
  min-height: 320px;
  -webkit-box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.12);
  padding-top: 25px;
}

.slider .carousel-control-prev-icon {
  background-image: url("../assets/img/home/slider/left-arrow.svg");
  width: 40px;
  height: 40px;
}

.slider .carousel-control-next-icon {
  background-image: url("../assets/img/home/slider/right-arrow.svg");
  width: 40px;
  height: 40px;
}

.component-fade-enter-active,
.component-fade-leave-active {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.component-fade-enter, .component-fade-leave-to {
  opacity: 0;
}

@media (max-width: 320px) {
  a.navbar-brand {
    margin-right: 0;
  }
  #main_wrap .home .product-descr .product-descr__paragraph {
    font-size: 24px;
  }
  header#header {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (max-width: 767px) {
  .card-body,
  .card-title,
  #main_wrap .home .card-img-right h4.card-title,
  #main_wrap .home .card-img-left h4.card-title,
  #main_wrap .crm .card-img-right h4.card-title,
  #main_wrap .crm .card-img-left h4.card-title {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .home ul,
  .crm ul {
    text-align: justify;
    padding-right: 20px;
  }
  .icon-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home .icon-block .icon-block__item {
    width: 100%;
  }
  .row-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .home {
    padding-left: 0;
    padding-right: 0;
  }
  a.carousel-control-prev {
    left: 14px;
    top: unset;
    width: 40px;
    height: 40px;
  }
  a.carousel-control-next {
    right: 14px;
    top: unset;
    width: 40px;
    height: 40px;
  }
  .carousel-indicators {
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */